*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
  font-family: 'montseratt',sans-serif;
  letter-spacing: 1px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./image/sunnyimage.jpg);
 }

 .app{
  color: rgba(194, 225, 188, 0.737);
  width: 300px;
 background-color: rgba(0, 0, 0, 0.5);
 text-align: center;
 border-radius: 10px;
 }
 .wrapper{
  padding: 10px auto;
 }
 h1{
  padding-top: 20px;
  font-size: 35px;
  font-weight: 600;
 }
 .input{
  margin: 20px 0px;
  color: white;
 }
.input input{
   text-transform:capitalize;
   background-color: rgba(45, 27, 106, 0.635);
   color: aliceblue;
   border: none;
   width: 200px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    padding: 2px 20px;
}

.desc img{
  margin: 10px 0px;
  background-color:burlywood;
  border-radius: 30px;
}
.desc h2{
  padding-bottom: 20px;
}

.error{
  padding-bottom: 10px;
}